@font-face {
    font-family: montserrat;
    src: url('/assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: cocogoose;
    src: url('/assets/fonts/Cocogoose.ttf');
}
@font-face {
    font-family: aspas;
    src: url('/assets/fonts/Lemon\ Brownies.ttf');
}
@font-face {
    font-family: os-light;
    src: url('/assets/fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: os-regular;
    src: url('/assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: os-italic;
    src: url('/assets/fonts/OpenSans-Italic.ttf');
}
@font-face {
    font-family: os-titulo;
    src: url('/assets/fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: montserrat-light;
    src: url('/assets/fonts/Montserrat-Light.ttf');
}



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 160px;
    background-color: #FFFFFF;
    line-height: 10px;

}

.header-logo {
    width: 190px;
    height: 45px;
    margin-top: 10px;
}

.header-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header-ul a {
    text-decoration: none;
    color: black;
    position: relative;
    letter-spacing: 0.5px;
}

.header-ul a:after {
    content: "";
    position: absolute;
    background-color: #FF0000;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 350ms all;
}

.header-ul a:hover:after {
    width: 100%;
}


.header-li {
    padding: 10px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: montserrat;
    transition: 400ms all;
}

.header-li:hover {
    color: #FF0000;
}

#header-li--contato {
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 30px;
    padding: 10px 20px;
    margin-left: 10px;
}

#header-li--contato:hover {
    color: #FFFFFF;
    background-color: #FF0000;
}

.header-li_selected {
    color: #FF0000;
    border-bottom: 1px solid #FF0000;
}

.banner {
    height: 550px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}

.banner a {
    text-decoration: none;
}

.banner-titulo {
    font-family: cocogoose;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}

.banner-info {
    margin-left: 150px;
}

.banner-p {
    margin-top: 20px;
    font-size: 22px;
    font-family: os-regular;
}

.banner-botao {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-family: cocogoose;
    text-transform: uppercase;
    padding-bottom: 3px;
    color: #FFFFFF;
    border-radius: 5px;
    height: 45px;
    width: 280px;
    background-color: #FF0000;
    transition: 300ms all ease-in-out;
    margin-top: 30px;
    font-size: 18px;
}

.banner-botao:hover {
    background-color: #eb4d4b;
}

.banner-img {
    width: 600px;
    height: 600px;
    margin-right: 50px;
}

.servicos {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);

}

.servicos-info {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos-titulo {
    font-family: os-titulo;
    color: #050336;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 70px;
    margin-right: 70px;
    font-weight: bold;
}

.servicos-img {
    width: 400px;
    margin-top: 60px;
    margin-left: 120px;
    margin-right: 60px;
}

.s-card-img {
    width: 60px;
    margin-left: 10px;
}

.servicos-cards {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
}

.servicos-card {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.178);
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 15px;
    max-width: 300px;
    border-radius: 15px;
    height: 200px;
    transition: all 200ms;
}

.servicos-card:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.178);
}

.s-card-titulo {
    font-family: cocogoose;
    margin: 10px 0;
}

.s-card-p {
    font-family: os-light;
}

.qs {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);

}

.qs-titulo {
    font-family: os-titulo;
    color: #050336;
    font-size: 40px;
    text-align: left;
}

.qs-text { 
    width: 500px;
    margin-left: 100px;
    margin-top: 80px;
}

.qs-img {
    width: 450px;
    margin-right: 50px;
    padding-bottom: 50px;
}

.qs-p {
    font-family: montserrat;
    margin-top: 30px;
    line-height: 2rem;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.527);
    text-align: left;
}

.avaliacoes {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}

.avaliacoes-titulo {
    font-family: os-titulo;
    color: #050336;
    font-size: 40px;
    margin-bottom: 50px;
    padding-left: 200px;
    margin-top: 40px;
}

.av-cards {
    max-width: 300px;
    height: 200px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 300px;
}

.av-card {
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.178);
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    position: relative;
    transition: 200ms all;
}

.av-card:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.178);
}

.avaliacoes-info {
    width: 100vh;
}

.av-card-img {
    width: 50px;
    border-radius: 30px;
    margin-left: 10px;
}

.avaliacoes-img {
    width: 580px;
    margin-left: 150px;
}

.av-card-star {
    width: 18px;
}

.av-card-stars {
    margin-top: 7px;
    margin-right: 50px;
}

.av-card-text {
    font-family: os-light;
    font-size: 15px;
}

.av-card-text:after {
    content: '"';
    font-family:aspas;
    font-size: 40px;
    position: absolute;
    top: 80px;
    right: 20px;
}

.av-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.av-card-name{
    font-family: cocogoose;
    font-size: 12px;
    text-align: right;
    margin-top: 15px;
}

.av-botao {
    line-height: 10px;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 30px;
    padding: 10px 20px;
    width: 130px;
    text-align: center;
    font-family: cocogoose;
    text-transform: uppercase;
    margin-top: 300px;
    margin-left: 450px;
    cursor: pointer;
    transition: 300ms all ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.425);
}

.av-botao--link {
    text-decoration: none;
}

.av-botao:hover {
    background-color: #eb4d4b;
}

.contato {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.ctt-left{
    margin-left: 150px;
}

.ctt-right {
    margin-right: 100px;
}

.ctt-titulo {
    font-family: os-titulo;
    color: #050336;
    font-size: 40px;
    margin-bottom: 50px;
}

.ctt-adress {
    font-family: os-italic;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.808);
}

.ctt-adress::before {
    background-image: url('/assets/img/Contato/flat-icon.gif');
    background-size: 15px 15px;
    display: inline-block;
    width: 15px; 
    height: 15px;
    content:"";
    margin-right: 8px;
}

.ctt-phone {
    font-family: os-regular;
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.808);

}

.ctt-phone::before {
    background-image: url('/assets/img/Contato/telefone.gif');
    background-size: 15px 15px;
    display: inline-block;
    width: 15px; 
    height: 15px;
    content:"";
    margin-right: 6px;
}

.ctt-horario--titulo {
    font-family: cocogoose;
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.ctt-legend {
    font-family: os-regular;
    color: rgba(0, 0, 0, 0.808);
}

.ctt-legend::before {
    background-image: url('/assets/img/Contato/relogio.gif');
    background-size: 13px 13px;
    display: inline-block;
    width: 13px; 
    height: 13px;
    content:"";
    margin-right: 8px;
}

.ctt-img{
    width: 500px;
    margin-top: 40px;
}

.contato2 {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}

.ctt2-left {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 140px;

}

.ctt2-img {
    width: 600px;
    margin-bottom: 10px;
}

.ctt2-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ctt2-redes--link {
    text-decoration: none;
}

.rede { 
    line-height: 10px;
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 30px;
    padding: 10px 20px;
    width: 130px;
    text-align: center;
    font-family: cocogoose;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms all ease-in-out;
}

.rede:hover {
    background-color: #eb4d4b;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 22px 22px 8px 22px ;
    width: 480px;

}

.form-titulo {
    font-family: cocogoose;
    color: #050336;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.ctt2-form {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.178);
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding-top: 40px;
    margin-right: 160px;

}

.form-label {
    font-family: cocogoose;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-input {
    font-family: os-light;
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid black;
    font-size: 17px;

}

.form-input::placeholder {
    color: rgba(0, 0, 0, 0.575);
    font-size: 17px;
    font-family: os-light;
}

.cpf-phone {
    display: flex;
}

.div-cpf, .div-phone {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.div-phone {
    margin-left: 2%;
}

.mensagem-input {
    resize: none;
}

.form-botao {
    font-size: 20px;
    line-height: 10px;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 30px;
    padding: 10px 20px;
    width: 40%;
    text-align: center;
    font-family: cocogoose;
    text-transform: uppercase;
    cursor: pointer;
    transition: 200ms all ease-in-out;
    margin: 20px auto 0 auto; 
    outline: 0;
    border: none;
}

.form-botao:hover {
    background-color: #eb4d4b;
}

.bancos {
    display: flex;
    padding-top: 60px;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.bancos-titulo {
    margin-bottom: 60px;
    font-family: cocogoose;
    font-size: 37px;
    text-transform: uppercase;
}

.banco {
    width: 290px;
    border-radius: 10px;
}
