@font-face {
    font-family: montserrat;
    src: url('/assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: cocogoose;
    src: url('/assets/fonts/Cocogoose.ttf');
}
@font-face {
    font-family: aspas;
    src: url('/assets/fonts/Lemon\ Brownies.ttf');
}
@font-face {
    font-family: os-light;
    src: url('/assets/fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: os-regular;
    src: url('/assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: os-italic;
    src: url('/assets/fonts/OpenSans-Italic.ttf');
}
@font-face {
    font-family: montserrat-light;
    src: url('/assets/fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: inter;
    src: url('/assets/fonts/Inter-Black.ttf');
}
@font-face {
    font-family: inter-bold;
    src: url('/assets/fonts/Inter-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');




* {
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: rgb(165, 194, 247);
}

html {
    overflow-x: hidden;
}

body {
    background-color: #FFFFFF;
    overflow-x: hidden;
    position: relative;
}

.opacity {
    opacity: 0;
}

.underline {
    font-weight: 600;
    text-decoration: underline;
}

.bold {
    font-weight: 600;
} 

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 160px;
    background-color: #FFFFFF;
    line-height: 10px;
}

.header-logo {
    width: 170px;
    height: 45px;
    margin-top: 10px;
}

.header-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.header-ul a {
    text-decoration: none;
    color: #111827;
    position: relative;
    letter-spacing: 0.5px;
}

.header-ul a:nth-child(-n + 4)::after {
    content: "";
    position: absolute;
    background-color: #FF0000;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 350ms all;
}

.header-ul a:hover:after {
    width: 100%;
}


.header-li {
    padding: 10px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: montserrat;
    transition: 400ms all;
}

.header-li:hover {
    color: #FF0000;
}

#header-li--contato {
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 30px;
    padding: 20px 20px;
    margin-left: 10px;
    transition: 300ms all ease;
}

#header-li--contato:hover {
    color: #FFFFFF;
    background-color: #eb4d4b;
    transform: scale(1.05);
}

/* BANNER CSS */

.banner {
    height: 550px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}

.banner a {
    text-decoration: none;
}

.banner-titulo {
    font-family: inter-bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: .5px;
    color: #111827;
}

.banner-info {
    margin-left: 150px;
}

.banner-p {
    margin-top: 20px;
    font-size: 22px;
    font-family: os-regular;
}

.banner-botoes {
    display: flex;
    align-items: center;
}

.banner-botao {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-family: cocogoose;
    text-transform: uppercase;
    padding-bottom: 3px;
    color: #FFFFFF;
    border-radius: 5px;
    height: 45px;
    width: 260px;
    background-color: #FF0000;
    transition: 300ms all ease-in-out;
    margin-top: 30px;
    font-size: 18px;
}

.banner-botao:hover {
    background-color: #eb4d4b;
    transform: scale(1.08);
}

.banner-botao-2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-family: cocogoose;
    text-transform: uppercase;
    padding-bottom: 3px;
    color: #FF0000;
    border-radius: 5px;
    height: 40px;
    width: 210px;
    background-color: #FFFFFF;
    transition: 300ms all ease-in-out;
    margin-top: 30px;
    font-size: 15px;
    margin-left: 15px;
    border: 1px solid #FF0000;
}

.banner-botao-2:hover {
    color: #FFFFFF;
    background-color: #eb4d4b;
}

.banner-img {
    width: 600px;
    height: 600px;
    margin-right: 50px;
}

.servicos {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
    width: 100%;
    padding-bottom: 30px;
}

.servicos-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos-titulo {
    font-family: inter-bold;
    color: #050336;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-right: 70px;
    font-weight: bold;
}

.servicos-img {
    width: 400px;
    margin-top: 60px;
    margin-left: 120px;
    margin-right: 60px;
}

.s-card-img {
    width: 60px;
    margin-left: 10px;
}


.servicos-cards {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
}

.servicos-card {
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 15px;
    max-width: 300px;
    border-radius: 15px;
    height: 270px;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:default;
}

.sm-div {
    width: 100%;
}



.sm-div-mbl {
    display: none;
    opacity: 1;
    transition: .5s all;
    width: 100%;
    bottom: 1;
}

.sm-link-mbl {
    font-family: cocogoose;
    font-size: 14px;
    color: #3d37e4;
    text-decoration: none;
    transition: .3s all;
    cursor: pointer;
}

.sm-div-link {
    width: 88px;
    opacity: 0;
    transform: translateX(0) scale(0);
    transition: .5s all;
}

.sm-link-show {
    opacity: 1;
}

.sm-link {
    font-family: cocogoose;
    font-size: 14px;
    color: #3d37e4;
    text-decoration: none;
    transition: .3s all;
    cursor: pointer;
}

.sm-link:hover, .sm-link-mbl:hover {
    color: #0e08b8;
}

.servicos-card:hover {
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, .15), 0 2px 4px -1px rgba(0, 0, 0, .09);

}

.s-card-titulo {
    font-family: cocogoose;
    margin: 10px 0;
}

.s-card-p {
    font-family: os-light;
}

.s-card-pointer {
    cursor: pointer;
}

/* modal saibamais */

.hidden {
    display: none !important;
}

@keyframes openModal {
    from {
        opacity: 0;
        transform: translateY(-100px) ;
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes closeModal {
    from {
        opacity: 1;
        transform: translateY(0) ;
    }
    to {
        opacity: 0;
        transform: translateY(-200px) ;
    }
}


.show-service {
    animation: openModal .3s ;
}

.hide-services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.div-squares {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.504);
    z-index: 10;
    transition: .3s all;
    transform: scale(1);
}

.div-squares-close {
    opacity: 0;
    transition: 500ms all;
}

.squares-close {
    animation: closeModal 500ms;
}

.hide-square { 
    width: 80vw;
    height: 90vh;
    top: 5%;
    position: fixed;
    z-index: 11;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    transform: scale(1);
    overflow-x: hidden;
    overflow-y: overlay;

}

.square-top {
    height: 50px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.square-x {
    height: 40px;
    width: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.div-x {
    width: 32px;
    height: 3px;
    margin: 8px;
    background-color: #0007A7;
    border-radius: 10px;
}

.square-top-div1 {
    transform: rotate(-45deg) translate(-7px, 8px);
}

.square-top-div2 {
    transform: rotate(45deg);
}

.square-middle {
    display: flex;
    flex-direction: row;
}

.modal-left {
    padding: 0 50px 0px 50px;
    width: 50%;
    border-right: 1px solid #4141414a;
    text-align: center;
}

.modal-right {
    padding: 0 50px 0px 50px;
    width: 50%;

}

.modal-title {
    font-family: inter-bold;
    color: #050336;
    font-size: 40px;
    text-align: left;
    margin-bottom: 60px;
    text-align: center;
}

.modal-content { 
    font-family: montserrat;
    font-size: 20px;
    text-align: justify;
    padding: 40px;
}

.modal-list {
    font-family: montserrat;
    font-size: 20px;
    text-align: justify;
    padding: 40px;
}

.modal-list-item {
    padding: 7px;
}

.modal-list-item:first-child {
    padding-top: 0;
}

.square-bottom {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
}

.square-bottom a {
    text-decoration: none;
    width: 281px;
    height: 52px;
}

.modal-btn {
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-family: cocogoose;
    text-transform: uppercase;
    padding-bottom: 3px;
    color: #0007A7;
    border-radius: 5px;
    height: 35px;
    width: 230px;
    background-color: white;
    border: 1px solid #0007A7;
    transition: 300ms all ease-in-out;
    font-size: 18px;
}

.modal-btn:hover {
    background-color: #0007A7;
    color: white;
    transform: translateY(3px);
}



/* Quem somos? */

.qs {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
    padding-bottom: 30px;
}

.qs-titulo {
    font-family: inter-bold;
    color: #050336;
    font-size: 40px;
    text-align: left;
}

.qs-text { 
    width: 500px;
    margin-left: 100px;
}

.qs-img {
    width: 450px;
    margin-right: 50px;
    padding-bottom: 50px;
    margin-top: 15px;
}

.qs-p {
    font-family: montserrat;
    margin-top: 30px;
    line-height: 2rem;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.527);
    text-align: justify;
}

.avaliacoes {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}

.avaliacoes-titulo {
    font-family: inter-bold;
    color: #050336;
    font-size: 40px;
    margin-bottom: 50px;
    padding-left: 200px;
    margin-top: 40px;
}

.av-cards {
    max-width: 620px;
    max-height: 483.6px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 300px;
}

.av-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 15px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    position: relative;
    transition: 200ms all;
    height: 210px;
}

.av-card:hover {
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, .16), 0 3px 4px -1px rgba(0, 0, 0, .1);
}

.avaliacoes-info {
    width: 100vh;
    margin-left: 50px;
}

.av-card-img {
    width: 50px;
    border-radius: 30px;
    margin-left: 10px;
}

.avaliacoes-img {
    width: 580px;
    margin-left: 160px;
}

.av-card-star {
    width: 18px;
}

.av-card-stars {
    margin-top: 7px;
    margin-right: 50px;
}

.av-card-text {
    font-family: os-light;
    font-size: 15px;
}

.av-card-text:after {
    content: '"';
    font-family:aspas;
    font-size: 40px;
    position: absolute;
    top: 80px;
    right: 20px;
}

.av-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.av-card-name{
    font-family: cocogoose;
    font-size: 12px;
    text-align: right;
}

.av-botao {
    line-height: 10px;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 30px;
    padding: 10px 20px;
    width: 130px;
    text-align: center;
    font-family: cocogoose;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 450px;
    cursor: pointer;
    transition: 300ms all ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.425);
}

.av-botao--link {
    text-decoration: none;
}

.av-botao:hover {
    background-color: #eb4d4b;
    transform: scale(1.05);
}

.contato {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.ctt-left{
    margin-left: 150px;
}

.ctt-left a {
    text-decoration: none;
}

.ctt-right {
    margin-right: 100px;
}

.ctt-titulo {
    font-family: inter-bold;
    color: #050336;
    font-size: 40px;
    margin-bottom: 50px;
}

.ctt-adress {
    font-family: os-italic;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.808);
}

.ctt-adress::before {
    background-image: url('/assets/img/Contato/flat-icon.gif');
    background-size: 15px 15px;
    display: inline-block;
    width: 15px; 
    height: 15px;
    content:"";
    margin-right: 8px;
}

.ctt-phone {
    font-family: os-regular;
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.808);

}

.ctt-phone::before {
    background-image: url('/assets/img/Contato/telefone.gif');
    background-size: 15px 15px;
    display: inline-block;
    width: 15px; 
    height: 15px;
    content:"";
    margin-right: 6px;
}

.ctt-horario--titulo {
    font-family: cocogoose;
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.ctt-legend {
    font-family: os-regular;
    color: rgba(0, 0, 0, 0.808);
}

.ctt-legend::before {
    background-image: url('/assets/img/Contato/relogio.gif');
    background-size: 13px 13px;
    display: inline-block;
    width: 13px; 
    height: 13px;
    content:"";
    margin-right: 8px;
}

.ctt-img{
    width: 500px;
    margin-top: 40px;
}

.contato2 {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}

.ctt2-left {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 140px;

}

.ctt2-img {
    width: 600px;
    margin-bottom: 10px;
}

.ctt2-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ctt2-redes--link {
    text-decoration: none;
}

.rede { 
    line-height: 10px;
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 30px;
    padding: 10px 20px;
    width: 130px;
    text-align: center;
    font-family: cocogoose;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms all ease-in-out;
}

.rede:hover {
    background-color: #eb4d4b;
    transform: scale(1.05);

}

.form {
    display: flex;
    flex-direction: column;
    padding: 22px 22px 8px 22px ;
    width: 480px;
}

.input-error {
    border: red 1.5px solid !important;
    animation: erro .3s;

}

@keyframes erro {
    25% { transform: translateX(3px); }
    50% { transform: translateX(-3px); }
    100% { transform: translateX(3px); }

}

.form-titulo {
    font-family: inter-bold;
    color: #050336;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.ctt2-form {
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding-top: 40px;
    margin-right: 160px;

}

.form-label {
    font-family: cocogoose;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-input {
    font-family: os-regular;
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #111827;
    font-size: 17px;

}

.form-input::placeholder {
    color: rgba(0, 0, 0, 0.575);
    font-size: 17px;
    font-family: os-regular;
}

.cpf-phone {
    display: flex;
}

.div-cpf, .div-phone {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.div-phone {
    margin-left: 2%;
}

.mensagem-input {
    resize: none;
}

.form-botao {
    font-size: 20px;
    line-height: 10px;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 30px;
    padding: 10px 20px;
    width: 40%;
    text-align: center;
    font-family: cocogoose;
    text-transform: uppercase;
    cursor: pointer;
    transition: 200ms all ease-in-out;
    margin: 20px auto 0 auto; 
    outline: 0;
    border: none;
}

.form-botao:hover {
    background-color: #eb4d4b;
    transform: scale(1.05);
}

/* css bancos parceiros */

.bancos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
    padding-bottom: 40px;
}

.owl-nav {
    width: 100%;
    font-size: 80px;
    font-family: os-light;
    display: flex;
    justify-content: center;
    color: #414141;
}

.owl-prev:hover,
.owl-next:hover {
    color: #eb4d4b !important;
}

.owl-prev {
    margin-right: 20px;
    transition: 400ms all;
}

.owl-next {
    margin-left: 20px;
    transition: 400ms all;
}

.bancos-title {
    color: #050336;
    text-transform: uppercase;
    font-family: inter-bold;
    font-size: 35px;
    margin-bottom: 50px;
}

.bancos-imgs {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.banco-img {
    width: 150px !important;
}


/* css perguntas frequentes */

.duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;

}

.duvidas-title {
    color: #050336;
    text-transform: uppercase;
    font-family: inter-bold;
    font-size: 35px;
    margin-bottom: 40px;
}

.duvidas-card {
    margin-bottom: 10px;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.duvidas-resposta {
    font-family: montserrat;
    font-size: 18px;
    max-height: 0;
    opacity: 0;
    transition: 200ms max-height, 200ms opacity;

}

.duvidas-resposta.active {
    display: block;
    opacity: 1;
    max-height: 100px;
    transition: 200ms max-height, 200ms opacity;
}

@keyframes resposta {
    0% {
        transform: translateY(-7px);
    }
    100% {
        transform: translateY(0px);
    }
}

.duvidas-arrow.active {
    transform: rotate(180deg);
    transition: 400ms transform ease-out;
}

.duvidas-pergunta {
    font-family: inter-bold;
    letter-spacing: 1.1px;
    color: #040246;
    font-size: 22px;
    padding-bottom: 8px;
    margin-left: 5px;
}

.duvidas-arrow::selection, .duvidas-pergunta::selection{
    background-color: #FFFFFF;
    color: #050336;
}

.duvidas-card_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.duvidas-arrow {
    background-image: url('/assets/img/fi-rr-angle-small-down.svg');
    width: 30px; 
    height: 23px;
    margin-bottom: 5px;
    transition: 400ms all;
}



/* Footer css */

footer {
    height: 220px;
    background-color: #6b1d26;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-div {
    text-align: center;
    color: white;
    position: relative;
    width: 30%;
}


.footer-div2:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.295);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.footer-titulo {
    text-transform:  uppercase;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
    width: 135px;
    margin: 12px auto;
    margin-top: 0;
    align-items: center;
}

.footer-legend {
    margin-bottom: 9px;
    font-family: os-light;
    font-size: 21px;
    color: white;
    transition: 200ms all;

}

.footer-link {
    text-decoration: none;
    width: 30px;
}

.footer-legend:hover {
    color: #eb4d4b;
}

.footer-img {
    width: 280px;
}

.footer-copy {
    width: 100%;
    background-color: #6b1d26;
    color: white;
    font-family: os-light;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.295);
    padding-top: 3px;
    padding-bottom: 3px;
}

/*  scroll to top button */
.scrollTop {
    outline: none;
    border: 0;
    background-color: #eb4d4b;
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    z-index: 9;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 400ms all ease;
    transform: translateX(30px);
}

.scrollTop.active {
    opacity: 1;
    transform: translateX(-30px);
    visibility: visible;
}

.scrollTop:hover {
    background-color: #D43C39;
}

.scrollTop img {
    width: 80%;
}

/* CSS RESPONSIVO */

.header-nav.active {
    transform: translateX(0);
}

.mobile-menu {
    display: none;
}

.qs-img-mobile {
    display: none;
}

.banner-mobile {
    display: none;
}

.ctt-img-mobile-1 {
    display: none;
}

.banner-mobile a {
    text-decoration: none;
}



@media (max-width: 1580px) {
    .sm-link {
        font-size: 14px;
    }
    .servicos-card{
        height: 284px;
    }
    .avaliacoes-img{
        margin-left: 100px;
        transition: 1s all;
    }
    .square1 h1 {
        font-size: 25px;
    }
    .square1 p, .square1 li {
        font-size: 14px;
    }
    .square4 h1 {
        font-size: 23px;
    }
    .square4 p {
        font-size: 14px;
    }
}

@media (max-width: 1400px) {

    .banner {
        display: none;
    }
    .banner-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-img {
        margin: 0;
    }
    .avaliacoes-img {
        margin-left: 50px;
    }
    .servicos-titulo {
        margin-right: 0;
    }
    .servicos-info {
        margin: 0;
        width: 100%;
    }
    .servicos-img {
        display: none;
    }
    .servicos-cards {
        width: 100%;
        justify-content: center;
    }
    .servicos-card {
        max-width: 100%;
    }
    .sm-link {
        font-size: 14px;
    }
    .modal-title {
        font-size: 30px;
    }
    .modal-content {
        font-size: 16px;
        padding: 5px;
    }
    .modal-list {
        font-size: 16px;
    }
    .modal-btn {
        font-size: 14px;
        width: 200px;
        height: 30px;
    }
    .avaliacoes {
        flex-direction: column;
    }
    .qs {
        flex-direction: column;
        align-items: center;
    }
    .qs-img {
        display: none;
    }
    .qs-text {
        margin-left: 0;
        width: 60%;

    }
    .qs-titulo {
        text-align: center;
    }
    .qs-img-mobile {
        display: block;
        max-width: 450px;
    }
    .avaliacoes {
        align-items: center;
    }
    .avaliacoes-img {
        margin: 0;
    }
    .avaliacoes-titulo {
        padding: 0;
    }
    .avaliacoes-info {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .av-cards {
        margin: 0;
    }
    .contato {
        flex-direction: column;
        align-items: center;
    }
    .ctt-titulo {
        margin-top: 40px;
        text-align: center;
    }
    .ctt-left, .ctt-right {
        margin: 0;
    }
    .ctt2-left {
        display: none;
    }
    .contato2 {
        flex-direction: column;
        align-items: center;
    }
    .ctt2-form {
        margin: 0;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ctt-img-mobile-1 {
        display: block;
        width: 600px;
    }
    .duvidas-card {
        width: 600px;
    }
    .bancos-imgs {
        width: 98%;
    }
    .footer-img {
        width: 220px;
    }
}

@media (max-width: 900px) {
    @keyframes navLinkFade {
        from {
            transform: translateX(50px);
        }
        to {
            transform: translateX(0);
        }
    }
    .header {
        height: 60px;
        justify-content: space-between;
    }
    .header-logo {
        margin-left: 20px;
    }
    .mobile-menu {
        display: block;
        cursor: pointer;
        z-index: 3;
        margin-right: 30px;
        position: fixed;
        right: 0;
    }
    .mobile-menu div {
        width: 32px;
        height: 3px;
        margin: 8px;
        background-color: #0007A7;
        transition: .4s all ease;
        border-radius: 100px;
    }
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-7px, -8px);
    }
    #header-li--contato {
        color: black;
        background-color: transparent;
        border-radius: 0px;
        padding: 10px;
        margin-left: 0;
        transition: 300ms all ease;
    }
    #header-li--contato:hover {
        color: #0e08b8;
        background-color: transparent;
        transform: scale(1);
    }
    .header-li {
        transform: translateX(50px);
    }
    .header-li:hover {
        color: #0e08b8;
    }
    .header-ul a:nth-child(-n+4)::after {
        display: none;
    }
    .header-nav {
        top: 0;
        right: 0;
        width: 58vw;
        height: 100vh;
        background-color: #FFFF;
        transform: translateX(100%);
        transition: transform 300ms ease-in;
        position: fixed;
        z-index: 2;
        border-left: 1px solid rgba(0, 0, 0, 0.363);
    }
    .header-ul {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    .header-ul li {
        margin: 0;
    }
    .banner-titulo {
        font-size: 35px;
        line-height: 35px;
        margin-top: 20px;
        line-height: 30px;
    }
    .banner-img {
        width: 350px;
        height: auto;
    }
    .banner-p {
        font-size: 18px;
        margin-left: 7px;
        margin-right: 7px;
    }
    .servicos-titulo {
        font-size: 30px;
    }
    .s-card-p {
        font-size: 15px;
    }
    .sm-div {
        display: none;
    }
    .sm-div-mbl {
        display: block;
        text-align: center;
    }
    .hide-square {
        width: 90vw;
        height: 95vh;
        top: 2.5%;
    }
    .square-x {
        margin-right: 20px;
    }
    .modal-title {
        margin-bottom: 10px;
    }
    .modal-content {
        margin-bottom: 10px;
        margin-right: 15px;
    }
    .square-middle{
        flex-direction: column;
        height: inherit;
        justify-content: space-evenly;
    }
    .square-bottom {
        justify-content: center;
        margin-bottom: 15px;
        
    }
    .square-bottom a {
        width: 200px;
        height: 30px;
    }
    .modal-left, .modal-right{
        width: 100%;
        padding: 0;
    }
    .modal-list-item {
        padding: 5px;
    }
    .modal-list {
        padding: 0 10px 0 40px;
    }
    .modal-content{ 
        padding: 0 10px 0 10px;
    }
    .qs-img-mobile {
        max-width: 350px;
    }
    .qs-titulo {
        font-size: 30px;
    }
    .qs-p {
        font-size: 16px;
        margin: 20px 10px;
        text-align: justify;
    }
    .qs-text {
        margin-top: 50px;
        width: 100%;
    }
    .avaliacoes{
        padding-top: 30px;
    }
    .avaliacoes-img {
        width: 380px;  
     }
    .avaliacoes-titulo {
        font-size: 30px;
    }
    .ctt-img-mobile-1 {
        width: 390px;
    }
    .ctt-titulo {
        font-size: 30px;
    }
    .ctt-img {
        width: 350px;
    }
    .form-titulo {
        font-size: 30px;
    }
    .bancos-title {
        font-size: 30px;
    }
    .banco-img {
        width: 120px !important;
    }
    .duvidas-title {
        font-size: 30px;
    }
    .duvidas-pergunta {
        font-size: 19px;
    }
    .duvidas-resposta {
        font-size: 16px;
    }
    .scrollTop.active {
        transform: translateX(0px);
    }
    .servicos-cards {
        grid-template-columns: 48% 48%;
        gap: 3px;
    }
    .footer-img {
        width: 180px;
    }
}

@media (max-width: 650px) {
    .banner-botoes {
        flex-direction: column;
        justify-content: center;
    }
    .banner-botao-2 {
        margin-top: 10px;
        margin-left: 0;
    }
    .av-cards {
        grid-template-columns: 300px;
        max-height: unset;
        gap: 7px;
    }
    .av-botao {
        margin: 10px 0 0 0;
    }
    .sm-div-mbl {
        text-align: right;
    }
    .ctt-left iframe {
        width: 100%;
    }
    .ctt-adress, .ctt-legend, .ctt-phone {
        margin-left: 2px;
    }
    .ctt2-form form {
        padding: 10px;
        width: 390px;
    }
    .banco-img {
        width: 110px !important;
    }
    .duvidas-card {
        width: 90%;
    }
    .duvidas-resposta {
        font-size: 15px;
    }
    .footer-div3 {
        display: none;
    }
    .footer-div2:before {
        display: none;
    }

}

@media (max-width: 440px) {
    .header-logo {
        margin-left: 20px;
        width: 150px;
        height: 38px;
        margin-top: 1px;
        border-radius: 2px;
    }
    .banner-titulo {
        font-size: 33px;
    }
    .servicos-card {
        height: 350px;
        padding: 5px;
    }
    .modal-content {
        margin-right: 0;
    }

    .sm-div-mbl {
        text-align: center;
    }
    .ctt2-form {
        width: 90%;
    }
    .ctt2-form form {
        width: 95%;
    }
    .duvidas-title {
        font-size: 27px;
    }
    .footer-titulo {
        font-size: 20px;
    }
    .footer-legend {
        font-size: 18px;
    }
    .scrollTop {
        width: 50px;
        height: 50px;
    }

}